body {
  font-family: 'Roboto Mono', monospace;
  background-color: #393f5f;
  color: #ffe69d;
  font-size: 1.5em;
  padding: 50px;
  background-size: 50px 50px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

header {
  text-align: center;
  font-size: 4em;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  text-shadow: 0px 0px 20px #3821e6;
}

h1 {
  text-align: center;
  font-size: 4em;
  margin-top: 50px;
  color: #ea9187;
  text-shadow: 0px 0px 15px #e96d5e;
}

.app {
  display: flex;
  justify-content: center;
}

.overlay {
  background: rgba(227, 81, 232, 0.7);
  border-radius: 25px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  font-size: 1.8em;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 20px;
  color: #e7a29b;
  text-shadow: 0px 0px 10px #e96d5e;
}

input[type="file"] {
  font-family: 'Roboto Mono', monospace;
  padding: 15px;
  border: 3px solid #ff9760;
  border-radius: 10px;
  width: 70%;
  margin-bottom: 30px;
  background-color: #ffe69d;
  color: #6a7e6a;
  font-size: 1.5em;
}

button[type="submit"] {
  font-family: 'Roboto Mono', monospace;
  padding: 15px 30px;
  background-color: #6a7e6a;
  color: #1f1f1f;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.8em;
  text-shadow: 0px 0px 10px #6a7e6a;
}

button[type="submit"]:hover {
  background-color: #6a7e6a;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.24),0 5px 10px 0 rgba(0,0,0,0.19);
}

button, input {
  font-family: 'Roboto Mono', monospace;
  max-width: 750px;
}

#result {
  margin-top: 50px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #e96d5e;
  text-shadow: 0px 0px 10px #e96d5e;
}