body {
  font-family: 'Roboto Mono', monospace;
  background-color: #393f5f;
  color: #ffe69d;
  font-size: 1.5em;
  padding: 50px;
}

header {
  text-align: center;
  font-size: 4em;
  margin-top: 50px;
  color: #9f0fed;
  text-shadow: 0px 0px 20px #9f0fed;
}

h1 {
  text-align: center;
  font-size: 4em;
  margin-top: 50px;
  color: #e96d5e;
  text-shadow: 0px 0px 20px #e96d5e;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  font-size: 1.8em;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 20px;
  color: #e96d5e;
  text-shadow: 0px 0px 10px #e96d5e;
}

input[type="file"] {
  font-family: 'Roboto Mono', monospace;
  padding: 15px;
  border: 3px solid #ff9760;
  border-radius: 10px;
  width: 70%;
  margin-bottom: 30px;
  background-color: #ffe69d;
  color: #6a7e6a;
  font-size: 1.5em;
}

button[type="submit"] {
  font-family: 'Roboto Mono', monospace;
  padding: 15px 30px;
  background-color: #6a7e6a;
  color: #1f1f1f;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.8em;
  text-shadow: 0px 0px 10px #6a7e6a;
}

button[type="submit"]:hover {
  background-color: #6a7e6a;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.24),0 5px 10px 0 rgba(0,0,0,0.19);
}

button, input {
  font-family: 'Roboto Mono', monospace
}

#result {
  margin-top: 50px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #e96d5e;
  text-shadow: 0px 0px 10px #e96d5e;
}